* {
    font-family:sans-serif;
}
.headerlogo {
    background-image:url("https://d.zmtcdn.com/images/logo/zlogo5.png");
    height: 40px;
    margin-top:10px;
    margin-left:10px;
    width: 148px;
    float:left;
}
.headerside {
    width:40%;
}
.fr {
    float:right;
}
.fl {
    float:left;
}
.mr10 {
    margin-right:10px !important;
    ;
}
.headerrow {
    height:60px;
    line-height:60px;
    background-color:#fafafa;
    border-radius:4px;
}
.orderbutton {
    background-color: #CB202F;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    color: #fafafa;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.50);
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.50);
}
.fs16 {
    font-size:16px;
}
.content {
    height:600px;
    background-image:url('http://www.ndtv.com/cooks/images/pizza-junk-food-600.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0.7;
    overflow:auto;
}
.search {
    border:1px solid black;
    width:90%;
    height:45px;
    margin:auto;
    margin-top:85px;
    background-color:#fafafa;
    border-radius:8px;
    cursor:pointer;
}
.fa-angle-down {
    font-size:28px !important;
    line-height: 45px !important;
}
.placesearch {
    width:25%;
    height:100%;
    border-right:1px solid gray;
    line-height: 45px;
    box-sizing: border-box;
    padding:0 5px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.searcharea {
    width:55%;
    height:100%;
    line-height: 50px;
    font-size:16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.searchbutton {
    width:20%;
    height:100%;
    background-color: #CB202F;
    text-align: center;
    line-height: 50px;
    color: #fafafa;
    font-size: 20px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.50);
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.50);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.items {
    width:90%;
    margin:auto;
}
.subitems {
    float:left;
    width:55%;
    background-color:#fafafa;
    border-radius:5px;
}
.margin {
    margin: 10px 0 10px 10px;
}
.searchtext {
    width:100%;
    height:100%;
    line-height: 50px;
    font-size:16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}
.places {
    float:left;
    width:25%;
    background-color:#fafafa;
    border-radius:5px;
}
.selected {
background-color:red;
color:white;
}

.additems{
background-color:#fafafa;
width:20%;
float:right;
height:100px;
}